/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2019, 5:29:53 PM
    Author     : Alex
*/

@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:300;
 src:local('Open Sans Light'),
 local('OpenSans-Light'),
 url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
/* unicode-range:U+0460-052F,
 U+20B4,
 U+2DE0-2DFF,
 U+A640-A69F*/
}
@font-face{
 font-family:'Open Sans';
 font-style:normal;
 font-weight:300;
 src:local('Open Sans Light'),
 local('OpenSans-Light'),
 url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
/* unicode-range:U+0400-045F,
 U+0490-0491,
 U+04B0-04B1,
 U+2116*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:300;
 src:local('Open Sans Light'),
 local('OpenSans-Light'),
 url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
 unicode-range:U+1F00-1FFF
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:300;
 src:local('Open Sans Light'),
 local('OpenSans-Light'),
 url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
 /*unicode-range:U+0370-03FF*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:300;
 src:local('Open Sans Light'),
 local('OpenSans-Light'),
 url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
 /*unicode-range:U+0102-0103,
 U+1EA0-1EF9,
 U+20AB*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:300;
 src:local('Open Sans Light'),
 local('OpenSans-Light'),
 url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
 /*unicode-range:U+0100-024F,*/
/* U+1E00-1EFF,
 U+20A0-20AB,
 U+20AD-20CF,
 U+2C60-2C7F,
 U+A720-A7FF*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:300;
 src:local('Open Sans Light'),
 local('OpenSans-Light'),
 url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
 /*unicode-range:U+0000-00FF,*/
/* U+0131,
 U+0152-0153,
 U+02C6,
 U+02DA,
 U+02DC,*/
 /*U+2000-206F,
 U+2074,
 U+20AC,
 U+2212,
 U+2215,
 U+E0FF,
 U+EFFD,
 U+F000*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans'),
 local('OpenSans'),
 url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
 /*unicode-range:U+0460-052F,*/
/* U+20B4,
 U+2DE0-2DFF,
 U+A640-A69F*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans'),
 local('OpenSans'),
 url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
/* unicode-range:U+0400-045F,
 U+0490-0491,*/
/* U+04B0-04B1,
 U+2116*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans'),
 local('OpenSans'),
 url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
 unicode-range:U+1F00-1FFF
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans'),
 local('OpenSans'),
 url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
 /*unicode-range:U+0370-03FF*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans'),
 local('OpenSans'),
 url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
 /*unicode-range:U+0102-0103,
 U+1EA0-1EF9,
 U+20AB*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans'),
 local('OpenSans'),
 url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
 /*unicode-range:U+0100-024F,*/
/* U+1E00-1EFF,
 U+20A0-20AB,
 U+20AD-20CF,
 U+2C60-2C7F,
 U+A720-A7FF*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:400;
 src:local('Open Sans'),
 local('OpenSans'),
 url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
 /*unicode-range:U+0000-00FF,*/
 /*U+0131,*/
 /*U+0152-0153,
 U+02C6,
 U+02DA,
 U+02DC,
 /*U+2000-206F,
 U+2074,
 U+20AC,
 U+2212,
 U+2215,
 U+E0FF,
 U+EFFD,
 U+F000*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),
 local('OpenSans-Bold'),
 url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
 /*unicode-range:U+0460-052F,
 U+20B4,
 U+2DE0-2DFF,
 U+A640-A69F*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),
 local('OpenSans-Bold'),
 url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
/* unicode-range:U+0400-045F,
 U+0490-0491,
 U+04B0-04B1,
 U+2116*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),
 local('OpenSans-Bold'),
 url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
 unicode-range:U+1F00-1FFF
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),
 local('OpenSans-Bold'),
 url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
 /*unicode-range:U+0370-03FF*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),
 local('OpenSans-Bold'),
 url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
 /*unicode-range:U+0102-0103,
 U+1EA0-1EF9,
 U+20AB*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),
 local('OpenSans-Bold'),
 url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
 /*unicode-range:U+0100-024F,
 U+1E00-1EFF,
 U+20A0-20AB,
 U+20AD-20CF,
 U+2C60-2C7F,
 U+A720-A7FF*/
}
@font-face {
 font-family:'Open Sans';
 font-style:normal;
 font-weight:700;
 src:local('Open Sans Bold'),
 local('OpenSans-Bold'),
 url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
 /*unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02C6,
 U+02DA,
 U+02DC,
 *U+2000-206F,
 U+2074,
 U+20AC,
 U+2212,
 U+2215,
 U+E0FF,
 U+EFFD,
 U+F000*/
}
@font-face {
 font-family:Roboto;
 font-style:normal;
 font-weight:300;
 src:local('Roboto Light'),
 local('Roboto-Light'),
 url(https://fonts.gstatic.com/s/roboto/v15/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
 /*unicode-range:U+0460-052F,
 U+20B4,
 U+2DE0-2DFF,
 U+A640-A69F*/
}
@font-face {
 font-family:Roboto;
 font-style:normal;
 font-weight:300;
 src:local('Roboto Light'),
 local('Roboto-Light'),
 url(https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
/* unicode-range:U+0400-045F,
 U+0490-0491,
 U+04B0-04B1,
 U+2116*/
}
@font-face {
 font-family:Roboto;
 font-style:normal;
 font-weight:300;
 src:local('Roboto Light'),
 local('Roboto-Light'),
 url(https://fonts.gstatic.com/s/roboto/v15/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
 unicode-range:U+1F00-1FFF
}
@font-face {
 font-family:Roboto;
 font-style:normal;
 font-weight:300;
 src:local('Roboto Light'),
 local('Roboto-Light'),
 url(https://fonts.gstatic.com/s/roboto/v15/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
 /*unicode-range:U+0370-03FF*/
}
@font-face {
 font-family:Roboto;
 font-style:normal;
 font-weight:300;
 src:local('Roboto Light'),
 local('Roboto-Light'),
 url(https://fonts.gstatic.com/s/roboto/v15/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
/* unicode-range:U+0102-0103,
 U+1EA0-1EF9,
 U+20AB*/
}
@font-face {
 font-family:Roboto;
 font-style:normal;
 font-weight:300;
 src:local('Roboto Light'),
 local('Roboto-Light'),
 url(https://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
 /*unicode-range:U+0100-024F,*/
/* U+1E00-1EFF,
 U+20A0-20AB,
 U+20AD-20CF,
 U+2C60-2C7F,
 U+A720-A7FF*/
}
@font-face {
 font-family:Roboto;
 font-style:normal;
 font-weight:300;
 src:local('Roboto Light'),
 local('Roboto-Light'),
 url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
/* unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2212,
 U+2215,
 U+E0FF,
 U+EFFD,
 U+F000*/
}
