@font-face {
    font-family: 'Lato';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/lato/Lato-Hairline.eot');
    src: local('Lato Thin'),
    url('../fonts/lato/Lato-Hairline.woff2') format('woff2'),
    url('../fonts/lato/Lato-Hairline.woff') format('woff'),
    url('../fonts/lato/Lato-Hairline.ttf') format('truetype'),
    url('../fonts/lato/Lato-Hairline.svg') format('svg'),
    url('../fonts/lato/Lato-Hairline.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 100;
    font-style: italic;
    src: url('../fonts/lato/Lato-HairlineItalic.eot');
    src: local('Lato Thin Italic'),
    url('../fonts/lato/Lato-HairlineItalic.woff2') format('woff2'),
    url('../fonts/lato/Lato-HairlineItalic.woff') format('woff'),
    url('../fonts/lato/Lato-HairlineItalic.ttf') format('truetype'),
    url('../fonts/lato/Lato-HairlineItalic.svg') format('svg'),
    url('../fonts/lato/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/lato/Lato-Light.eot');
    src: local('Lato Light'),
    url('../fonts/lato/Lato-Light.woff2') format('woff2'),
    url('../fonts/lato/Lato-Light.woff') format('woff'),
    url('../fonts/lato/Lato-Light.ttf') format('truetype'),
    url('../fonts/lato/Lato-Light.svg') format('svg'),
    url('../fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/lato/Lato-LightItalic.eot');
    src: local('Lato Light Italic'),
    url('../fonts/lato/Lato-LightItalic.woff2') format('woff2'),
    url('../fonts/lato/Lato-LightItalic.woff') format('woff'),
    url('../fonts/lato/Lato-LightItalic.ttf') format('truetype'),
    url('../fonts/lato/Lato-LightItalic.svg') format('svg'),
    url('../fonts/lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/lato/Lato-Regular.eot');
    src: local('Lato Regular'),
    url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
    url('../fonts/lato/Lato-Regular.woff') format('woff'),
    url('../fonts/lato/Lato-Regular.ttf') format('truetype'),
    url('../fonts/lato/Lato-Regular.svg') format('svg'),
    url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/lato/Lato-Italic.eot');
    src: local('Lato Italic'),
    url('../fonts/lato/Lato-Italic.woff2') format('woff2'),
    url('../fonts/lato/Lato-Italic.woff') format('woff'),
    url('../fonts/lato/Lato-Italic.ttf') format('truetype'),
    url('../fonts/lato/Lato-Italic.svg') format('svg'),
    url('../fonts/lato/Lato-Italic.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/lato/Lato-Bold.eot');
    src: local('Lato Bold'),
    url('../fonts/lato/Lato-Bold.woff2') format('woff2'),
    url('../fonts/lato/Lato-Bold.woff') format('woff'),
    url('../fonts/lato/Lato-Bold.ttf') format('truetype'),
    url('../fonts/lato/Lato-Bold.svg') format('svg'),
    url('../fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/lato/Lato-BoldItalic.eot');
    src: local('Lato Bold Italic'),
    url('../fonts/lato/Lato-BoldItalic.woff2') format('woff2'),
    url('../fonts/lato/Lato-BoldItalic.woff') format('woff'),
    url('../fonts/lato/Lato-BoldItalic.ttf') format('truetype'),
    url('../fonts/lato/Lato-BoldItalic.svg') format('svg'),
    url('../fonts/lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/lato/Lato-Black.eot');
    src: local('Lato Black'),
    url('../fonts/lato/Lato-Black.woff2') format('woff2'),
    url('../fonts/lato/Lato-Black.woff') format('woff'),
    url('../fonts/lato/Lato-Black.ttf') format('truetype'),
    url('../fonts/lato/Lato-Black.svg') format('svg'),
    url('../fonts/lato/Lato-Black.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 900;
    font-style: italic;
    src: url('../fonts/lato/Lato-BlackItalic.eot');
    src: local('Lato Black Italic'),
    url('../fonts/lato/Lato-BlackItalic.woff2') format('woff2'),
    url('../fonts/lato/Lato-BlackItalic.woff') format('woff'),
    url('../fonts/lato/Lato-BlackItalic.ttf') format('truetype'),
    url('../fonts/lato/Lato-BlackItalic.svg') format('svg'),
    url('../fonts/lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/open-sans/OpenSans-Light.eot');
    src: local('Open Sans Light'),
    url('../fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-Light.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Light.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-Light.svg') format('svg'),
    url('../fonts/open-sans/OpenSans-Light.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/open-sans/OpenSans-LightItalic.eot');
    src: local('Open Sans Light Italic'),
    url('../fonts/open-sans/OpenSans-LightItalic.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSansLight-Italic.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSansLight-Italic.svg') format('svg'),
    url('../fonts/open-sans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/open-sans/OpenSans-Regular.eot');
    src: local('Open Sans'),
    url('../fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans.svg') format('svg'),
    url('../fonts/open-sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/open-sans/OpenSans-Italic.eot');
    src: local('Open Sans Italic'),
    url('../fonts/open-sans/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-Italic.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Italic.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-Italic.svg') format('svg'),
    url('../fonts/open-sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/open-sans/OpenSans-Semibold.eot');
    src: local('Open Sans Semi Bold'),
    url('../fonts/open-sans/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-Semibold.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Semibold.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-Semibold.svg') format('svg'),
    url('../fonts/open-sans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/open-sans/OpenSans-SemiboldItalic.eot');
    src: local('Open Sans Semi Bold Italic'),
    url('../fonts/open-sans/OpenSans-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-SemiboldItalic.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-SemiboldItalic.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-SemiboldItalic.svg') format('svg'),
    url('../fonts/open-sans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/open-sans/OpenSans-Bold.eot');
    src: local('Open Sans Bold'),
    url('../fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-Bold.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-Bold.svg') format('svg'),
    url('../fonts/open-sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/open-sans/OpenSans-BoldItalic.eot');
    src: local('Open Sans Bold Italic'),
    url('../fonts/open-sans/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-BoldItalic.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-BoldItalic.svg') format('svg'),
    url('../fonts/open-sans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/open-sans/OpenSans-ExtraBold.eot');
    src: local('Open Sans Extra Bold'),
    url('../fonts/open-sans/OpenSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-Extrabold.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-Extrabold.svg') format('svg'),
    url('../fonts/open-sans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: italic;
    src: url('../fonts/open-sans/OpenSans-ExtraBoldItalic.eot');
    src: local('Open Sans Extra Bold Italic'),
    url('../fonts/open-sans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-ExtraboldItalic.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-ExtraboldItalic.svg') format('svg'),
    url('../fonts/open-sans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/roboto/Roboto-Thin.eot');
    src: local('Roboto Thin'),
    url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Thin.woff') format('woff'),
    url('../fonts/roboto/Roboto-Thin.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Thin.svg') format('svg'),
    url('../fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: italic;
    src: url('../fonts/roboto/Roboto-ThinItalic.eot');
    src: local('Roboto Thin Italic'),
    url('../fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-ThinItalic.woff') format('woff'),
    url('../fonts/roboto/Roboto-ThinItalic.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-ThinItalic.svg') format('svg'),
    url('../fonts/roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/roboto/Roboto-Light.eot');
    src: local('Roboto Light'),
    url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Light.woff') format('woff'),
    url('../fonts/roboto/Roboto-Light.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Light.svg') format('svg'),
    url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/roboto/Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'),
    url('../fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-LightItalic.woff') format('woff'),
    url('../fonts/roboto/Roboto-LightItalic.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-LightItalic.svg') format('svg'),
    url('../fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/roboto/Roboto-Regular.eot');
    src: local('Roboto Regular'),
    url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
    url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Regular.svg') format('svg'),
    url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/roboto/Roboto-Italic.eot');
    src: local('Roboto Regular Italic'),
    url('../fonts/roboto/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Italic.woff') format('woff'),
    url('../fonts/roboto/Roboto-Italic.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Italic.svg') format('svg'),
    url('../fonts/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/roboto/Roboto-Medium.eot');
    src: local('Roboto Medium'),
    url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
    url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Medium.svg') format('svg'),
    url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: italic;
    src: url('../fonts/roboto/Roboto-MediumItalic.eot');
    src: local('Roboto Medium Italic'),
    url('../fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-MediumItalic.woff') format('woff'),
    url('../fonts/roboto/Roboto-MediumItalic.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-MediumItalic.svg') format('svg'),
    url('../fonts/roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/roboto/Roboto-Bold.eot');
    src: local('Roboto Bold'),
    url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
    url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Bold.svg') format('svg'),
    url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/roboto/Roboto-BoldItalic.eot');
    src: local('Roboto Bold Italic'),
    url('../fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff'),
    url('../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-BoldItalic.svg') format('svg'),
    url('../fonts/roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/roboto/Roboto-Black.eot');
    src: local('Roboto Black'),
    url('../fonts/roboto/Roboto-Black.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Black.woff') format('woff'),
    url('../fonts/roboto/Roboto-Black.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Black.svg') format('svg'),
    url('../fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: italic;
    src: url('../fonts/roboto/Roboto-BlackItalic.eot');
    src: local('Roboto Black Italic'),
    url('../fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-BlackItalic.woff') format('woff'),
    url('../fonts/roboto/Roboto-BlackItalic.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-BlackItalic.svg') format('svg'),
    url('../fonts/roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype');
}